/* ##### css classes ##### */

/* ##### font (local added) ##### */

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('./fonts/static/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ##### global ##### */

* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    color: white
}


header {
    background-color: rgba(9, 33, 42, 1);
}


main {
    background-color: rgba(6, 23, 30, 1);
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


dialog {
    background-color: rgba(6, 23, 30, 1);

    border: none;
    padding: 56px 64px;
    border-radius: 40px;

    /* width: 1000px; */



    /* Neu 27.03.2026 */
    overflow: hidden;
    width: 50vw;
    /* height: 80vh; */
    /* display: flex;
    flex-direction: column;
    height: 50vh; */
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}


/* dialog img {
    object-fit: contain;
    max-width: 100%;
    max-height: 50vh;
} */


footer {
    background-color: rgba(9, 33, 42, 1);
    background-image: url('./img/footer_subtract.png');

    display: flex;
    justify-content: center;
}


h1 {
    color: white;
    font-size: 56px;
    font-weight: 800;
}


h2 {
    color: white;
}


figure {
    margin: 0;
    padding: 0;
    line-height: 0;

    cursor: pointer;
}


/* ##### Desktop version (1281px or higher) ##### */

/* Header */

.header-fotogram-logo {
    display: flex;
    justify-content: left;

    max-width: 1440px;
    padding: 20px 0;
    margin: 0 240px;
    gap: 10px;

    flex-wrap: wrap;
}


.header-fotogram-logo img {
    object-fit: none;
}


/* Main */

/* Gallery */

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    max-width: 1440px;
    padding: 20px 0;
    margin: 0 240px;
    gap: 20px;
}


.gallery img {
    object-fit: cover;
    width: 150px;
    height: 150px;

    border: 2px solid rgba(18, 70, 88, 1);
    border-radius: 16px;
}


.gallery-item {
    transition: transform 0.5 ease;
}


.gallery-item:hover {
    transform: scale(1.2);
}


/* Dialog box */

.dialog-header {
    background-color: rgba(6, 23, 30, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}


.close-button {
    background-color: rgba(6, 23, 30, 1);
    border: none;

    display: flex;
    cursor: pointer;

    border-radius: 100px;
    padding: 4px;
    margin: 10px;
    margin-right: 0;
}


.close-button:hover {
    background-color: rgba(18, 70, 88, 1);
    border: none;
}


.close-button:active {
    background-color: rgba(13, 50, 64, 1);
}


.dialog-main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
    overflow: hidden;
}


.dialog-main img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}


.arrow-button-left {
    background: none;
    border: none;

    cursor: pointer;

    transform: rotate(180deg);
}


.arrow-button-left:hover {
    filter: saturate(200%) contrast(105%) brightness(105%);
}


.arrow-button-right {
    background: none;
    border: none;

    cursor: pointer;

    transform: rotate(0deg);
}


.arrow-button-right:hover {
    filter: saturate(200%) contrast(105%) brightness(105%);
}


.dialog-footer {
    background-color: rgba(6, 23, 30, 1);
    background-image: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    gap: 56px;
}


.counter-text {
    text-align: center;
    white-space: nowrap;

    width: 7%;
}


/* Footer */

.footer-da-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1440px;
    padding: 20px 0;
    margin: 0 240px;
}


.footer-da-logo img {
    object-fit: cover;
    width: 150px;
    height: auto;
}


.footer-da-text {
    color: rgba(98, 123, 132, 1);
    font-weight: 400;
}





/* ##### Tablet version (768px - 1280px) ##### */

@media (min-width: 768px) and (max-width: 1280px) {

    /* Header */
    
    .header-fotogram-logo {
        margin: 0 120px;
    }


    /* Main */

    /* Gallery */

    .gallery {
        margin: 0 120px;
    }


    /* Dialog box */

    .dialog-main {
        height: 40vh;
    }


    /* Footer */

    .footer-da-logo {
        margin: 0 120px;
    }
}





/* ##### Mobile version (375px - 767px) ##### */

@media (min-width: 375px) and (max-width: 767px) {

    /* global */

    dialog {
        padding: 32px 16px;

        width: 350px;
        height: 750px;


        /* display: flex;
        flex-direction: column; */

        /* width: 95%; */
        /* height: 70vh; */
        /* width: 80vw;
        height: 70vh; */
        /* width: 100%;
        height: 70%; */

    }


    h1 {
        text-align: center;
        font-size: 32px;
        margin: 32px 56px;
    }


    h2 {
        font-size: 24px;
    }



    /* Header */
    
    .header-fotogram-logo {
        flex-wrap: nowrap;
        justify-content: center;

        margin: 0 120px;
    }


    .header-fotogram-logo img {
        object-fit: cover;
        width: auto;
        height: 32px;
    }


    /* Main */

    /* Gallery */

    .gallery {
        margin: 0 56px;
        padding-top: 24px;
        padding-bottom: 56px;
    }


    .gallery img {
        width: 100px;
        height: 100px;
    }


    /* Dialog box */

    .dialog-main {
        padding: 32px 16px;


        /* max-height: 40vh; */

        /* width: 100%;
        height: 100%; */
        /* max-height: 30vh; */
        
    }


    .dialog-main img {
        object-fit: contain;

        width: 100%;
        height: 100%;

        /* max-width: auto;
        max-height: 20vh; */

        /* max-width: 100%;
        max-height: 100%; */
    }


    .dialog-footer {
        flex-shrink: 0;
    }


    /* Footer */

    .footer-da-logo {
        margin: 0 56px;
    }


    .footer-da-logo img {
        object-fit: cover;
        width: 100px;
        height: auto;
    }


    .footer-da-text {
        font-size: 14px;
    }
}





/* ##### Mobile very small (320px - 374px) ##### */

@media (min-width: 320px) and (max-width: 374px) {


}