/* css classes */

/* font (local added) */

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('./fonts/static/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* global */

* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}


header {
    background-color: rgba(9, 33, 42, 1);
}


main {
    background-color: rgba(6, 23, 30, 1);
    flex: 1;
}


footer {
    background-color: rgba(9, 33, 42, 1);
    background-image: url('./img/footer_subtract.png');
}


h1 {
    color: white;
}


/* Desktop version */

/* Header */

.header-fotogram-logo {
    display: flex;
    justify-content: left;

    max-width: 1440px;
    padding: 20px 0;
    margin: 0 240px;
    gap: 10px;

    flex-wrap: wrap;
}


.header-fotogram-logo img {
    object-fit: none;
}


/* Main */



/* Footer */

.footer-da-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1440px;
    padding: 20px 0;
    margin: 0 240px;
}


.footer-da-logo img {
    object-fit: cover;
    width: 150px;
    height: auto;
}









/* Tablet version */









/* Mobile version */